:root{
  --main-color:#0b5ed7;
  --second-color:#1572d31a;
}
a{
  text-decoration: none!important;
}

.home{
  background: url(../src/assets/imges/landing-page/Frame.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;

}
@media (max-width: 768px) {
  .head{
   flex-direction: column-reverse;
  }
}
@media  (max-width: 768px) { 
  .btns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2px;
  }
  }
      
.texthead{
  max-width: 23%;
  margin-left: 10vw;
}
.head img{
  background-repeat: no-repeat;
 max-width: 60%;
 animation: imgcar 2s ;
}
@media (max-width: 768px) {
  .head img{
    align-self: flex-end;
   max-width: 75%;
   animation: imgcar 2s ;
  }
}
@media (max-width: 768px) {
  .texthead{
    max-width: 100%;
    margin: 0 5vw;
  }
}
@keyframes imgcar{
0%{
    display: none;
    max-width: 20%;

}
100%{
  display: inline;
  max-width: 60%;
 
}

}
.main-btn{
color: var(--main-color);
border: 1px solid var(--second-color);
background-color: var(--second-color);
padding: 5px 20px;
}
.choose{
  background: url(../src/assets/imges/landing-page/sec-5/Vector.png);
  background-position-x: left;
  background-position-y: center;
  background-size: 55%;
 background-repeat: no-repeat;
}
.choose-img{
  max-width: 80%;
}
@media (max-width: 768px) {
  .img-car{
    display: none !important;
  }
}
.max-width{
  max-width: 40%;
}
@media (max-width: 768px) {
  .max-width{
    max-width: 100%;
  }
}
.test-sec{
  background: url(../src/assets/imges/landing-page/sec-6/bg-sec6.png);
  background-size: 20%;
 background-repeat: no-repeat;
 background-position: right top;
}

.card{
  max-width: 540px;
}
.contact-us-input{
  height: 2.3em;
    border: 1px solid #cedcff;
    border-radius: 15px;
    background-color: #cedcff;
    min-width: 200px;
}
.mobile-img{
  max-width: 80%;
  max-height: 80%;

}
@media (max-width: 768px) {
  .mobile-img{
   
display: none !important;
  
  }
}
.footer{
  background: #051C34;

}
.cars .card{
  width: 256px;
  height: 405px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
.foter-card{
  border-top: 1 solid #0b5ed7;
}
.btn-block{
  padding: 8px;
  border-radius: 8%;
  width: 208px;
  height: 40px;
}
.btn-showall a{
  color: #6c757d!important;
  text-decoration: none!important;
}
.btn-showall:hover{
  color: #eee!important
}
.btn-showall a:hover{
  color: #eee!important
}
.test .card{
  width: 794px;
  height: 400px;
  box-shadow: var(--bs-box-shadow) !important;
  margin-right: 20px;
  margin-left: 20px;
}
.details{
  height: 100vh;
}
@media (max-width: 768px) {
  .test .card{
    width: auto;
    height: 710px;
    box-shadow: var(--bs-box-shadow) !important;
  }
  .test{
    height: 800px;
  }
}
@media (min-width:768px) and (max-width:992px) {
  .test .card{
    width: auto;
    height: 355px;
    box-shadow: var(--bs-box-shadow) !important;
  }
  
}